Library/
Temp/
obj/
outPath/
Logs/
log/
.vs/
.utmp/
.vsconfig
*.csproj
MiniGameV2.sln
Assets/XLua/Gen/
Assets/StreamingAssets/
Assets/AssetBundles.xml
Assets/Resources/@Lua/_NetMsg
Assets/WebGLTemplates/
Assets/WebGLTemplates.meta
Common/Lua/_NetMsg/*.lua